<a href="https://colab.research.google.com/github/IbarraMaster/ejercicios-python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nombre = input('Ingresa su nombre: ')
edad = int(input("Ingrese su edad: "))
print("Su nombre es: ", nombre)
print("Su edad es: ", edad)

In [ ]:
import random
numero_persona = int(input("Dame un numero del 1 al 3: "))
numero_maquina = random.randint(1, 3)

print("EL numero de la persona es", numero_persona)
print("EL numero de la maquina es", numero_maquina)

if(numero_persona == numero_maquina):
    print("Tienes el mismo numero que la maquina")
else:
    print("Tienes un numero distinto a la maquina")

In [ ]:
import random

#Si el numero que sale con randmo es 1, la prediccion es que el numero sera impar
#y si es 2, la prediccion es que el numero será par.
prediccionMaquina = random.randint(1,3);
numeroIngresado = int(input("Ingrese un numero: "))

if(prediccionMaquina == 1):
  print("La prediccion de la maquina es impar")
else:
  print("La prediccion de la maquina es par")

if(numeroIngresado % 2 == 0):
  if(prediccionMaquina == 2):
    print("La maquina acerto que era par")
  else:
    print("La maquina se equivocó, el numero era par")

else:
    if(prediccionMaquina == 1):
      print("La maquina acerto que era impar")
    else:
      print("La maquina se equivocó, era impar")

In [ ]:
def cifrado_cesar(texto, desplazamiento):
    resultado = ""
    for i in range(len(texto)):
        char = texto[i]

        # Cifrar mayúsculas
        if char.isupper():
            resultado += chr((ord(char) + desplazamiento - 65) % 26 + 65)
        # Cifrar minúsculas
        elif char.islower():
            resultado += chr((ord(char) + desplazamiento - 97) % 26 + 97)
        # Mantener espacios y otros caracteres
        else:
            resultado += char
    return resultado

# Uso del código
mensaje = input("Ingrese el mensaje a cifrar: ")
llave = 13
cifrado = cifrado_cesar(mensaje, llave)
print(f"Cifrado: {cifrado}") # Salida: Krno Pxqgr
print(f"Descifrado: {cifrado_cesar(cifrado, -llave)}")

In [ ]:
import pandas as pd

ruta_archivo = "/content/compras_semana.csv"
datos = pd.read_csv(ruta_archivo)
datos ['total'] = datos['precio'] * datos['cantidad']


total_compras = datos['total'].sum()
print(f"El total de las compras es: ${total_compras}")


promedio_compras = datos['total'].mean()
print(f"El promedio de las compras es: ${promedio_compras}")

mediana_compras = datos['total'].median()
print(f"Mediana de la compra: ${mediana_compras}")

compra_minima = datos['total'].min()
print(f"La compra minima es: ${compra_minima}")

compra_maxima = datos['total'].max()
print(f"La compra maxima es: ${compra_maxima}")

std = datos['total'].std()
print(f"La desviacion estandar es: ${std}")

var = datos['total'].var()
print(f"La varianza es: ${var}")

count = datos['total'].count()
print(f"Registro conteo es: ${count}")

datos.describe()

El total de las compras es: $44.699999999999996
El promedio de las compras es: $4.47
Mediana de la compra: $3.55
La compra minima es: $2.4
La compra maxima es: $10.0
La desviacion estandar es: $2.6637692592765365
La varianza es: $7.095666666666667
Registro conteo es: $10

          precio   cantidad      total
count  10.000000  10.000000  10.000000
mean    2.970000   2.100000   4.470000
std     2.383298   1.449138   2.663769
min     0.800000   1.000000   2.400000
25%     1.275000   1.000000   2.625000
50%     2.250000   1.500000   3.550000
75%     3.725000   2.750000   4.700000
max     8.500000   5.000000  10.000000

In [ ]:
import pandas as pd

ruta_archivo = "/content/peliculas_favoritas.json"

datos = pd.read_json(ruta_archivo)
datos.describe()

               año  puntuacion  duracion_minutos
count     6.000000    6.000000          6.000000
mean   1999.166667    8.716667        136.833333
std       5.980524    0.147196         14.288690
min    1994.000000    8.500000        116.000000
25%    1994.750000    8.625000        127.750000
50%    1998.000000    8.750000        139.000000
75%    2000.500000    8.800000        146.500000
max    2010.000000    8.900000        154.000000